<h2 class="text-success mb-3 text-shadow-bold">Create New Task</h2>

<%# original form moved to _form.html.erb - these files will render the form from there %>
<%= render "form", task: @task %>

<%= button_to "Go Back", tasks_path, method: :get, class: "btn btn-primary mt-3" %>
