<h2 class="text-primary mb-3 text-shadow-bold"><%= @task.title %></h2>
<div class="card-body shadow pt-3 pb-1 mb-2" style="background-color: #d9d9d9;">
  <p class="text-dark text-shadow-bold"><%= @task.details %></p>
</div>
<div class="card-body shadow pt-3 pb-1 mb-2" style="background-color: #d9d9d9;">
  <p class="text-primary text-shadow-bold">
    Status:
    <% if @task.completed %>
      <span class="text-success">Done</span>
    <% else %>
      <span class="text-danger">Still on the List</span>
    <% end %>
  </p>
</div>
<div class="card-body text-center">
  <%= button_to "Go Back", tasks_path, method: :get, class: "btn btn-primary" %>
</div>
